<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="DPS KIDS BHOPAL, Best Kindergarten School in Bhopal, 07552418222, 7879136615, Best School,Kusum Mathur, Deepak Mathur" />
    <meta name="keywords" content="DPS KIDS BHOPAL, Best Kindergarten School in Bhopal, 07552418222, 7879136615, Best School,Kusum Mathur, Deepak Mathur" />
    <meta name="description" content="">

    <title>DPS KIDS SCHOOL BHOPAL</title>

    <!-- CSS START-->

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <!-- Menu Maker plugin -->
    <link rel="stylesheet" href="plugins/menuMaker/css/menumaker.css" />

    <link rel="stylesheet" href="css/style.css" />
    <!-- CSS END-->

</head>

<body>

    <div class="header-top-design">&nbsp;</div>

    <!-- Heading Bar -->
    <div class="container-fluid headingBar">
        <div class="row">
            <div class="col-6 col-md-3 align-self-center logo">
                <a href="index.html">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="col-0 col-md-6 align-self-center text-center headCenterText">
                DPS Kids School Bhopal
            </div>
            <div class="col-6 col-md-3 align-self-center text-left">
                <div class="sharethis-inline-share-buttons"></div>
            </div>
        </div>
    </div>
    <!-- Heading Bar -->

    <!-- Navbar Bar -->
    <nav class="navbar navbar-expand-sm navbar-dark mx-auto">
        <label class="navbar-brand">Menu</label>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="icon fas fa-bars" style="color: white;"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="about.html">About School</a>
                        <a class="dropdown-item" href="PrinMgs.html">Principal Message</a>
                        <a class="dropdown-item" href="Activities.html">Activities</a>
                        <a class="dropdown-item" href="Mission.html">Our Mission</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academics</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="rules.html">Rules of School</a>
                        <a class="dropdown-item" href="Fees.html">Fee Rules</a>
                        <a class="dropdown-item" href="school.html">School Timing</a>
                        <a class="dropdown-item" href="curriculam.html">Curriculam</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facilities</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Academicf.html">Academic Facilities</a>
                        <a class="dropdown-item" href="Extra.html">Extra Curricular</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Image Gallery</a>
                        <a class="dropdown-item" href="#">Video Gallery</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Admission Form</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="slider-top-design">&nbsp;</div>
    <!-- Navbar Bar -->

    <!-- website Container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="tabMenu">
                    <ul class="nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#preNursery">Pre-Nursery (Play Group)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#nursery">Nursery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kg1">KG-1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kg2">KG-2</a>
                        </li>
                        <li class="nav-item dropdown mobileDropdown">
                            <a class="nav-link dropdown-toggle active" id="mobileDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pre-Nursery (Play Group)</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="changeLinkText(this.innerHTML)" data-toggle="tab" href="#preNursery">Pre-Nursery (Play Group)</a>
                                <a class="dropdown-item" onclick="changeLinkText(this.innerHTML)" data-toggle="tab" href="#nursery">Nursery</a>
                                <a class="dropdown-item" onclick="changeLinkText(this.innerHTML)" data-toggle="tab" href="#kg1">KG-1</a>
                                <a class="dropdown-item" onclick="changeLinkText(this.innerHTML)" data-toggle="tab" href="#kg2">KG-2</a>
                            </div>
                        </li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container-fluid active" id="preNursery">
                            <div class="title text-center">Holidays</div>
                            <div class="row singleNoticeBlock">
                                <div class="col-sm-6 postDate"><i>Posted On : </i><strong></strong></div>
                                <div class="col-12"><hr></div>
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Reiciendis, quo totam id consequuntur ad, veritatis quos ea 
                                        maxime officia fuga vitae non labore repudiandae est quibusdam consectetur? Mollitia aperiam maxime in possimus 
                                        officiis exercitationem nostrum aspernatur expedita, sapiente ab autem, vitae laboriosam placeat ipsa unde doloremque ratione deserunt voluptatibus blanditiis!
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-fluid" src="img/notice.jpg" alt="">
                                </div>
                            </div>
                            <div class="row singleNoticeBlock">
                                <div class="col-sm-6 postDate"><i>Posted On : </i><strong></strong></div>
                                <div class="col-12"><hr></div>
                                <div class="col-12">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Reiciendis, quo totam id consequuntur ad, veritatis quos ea 
                                        maxime officia fuga vitae non labore repudiandae est quibusdam consectetur? Mollitia aperiam maxime in possimus 
                                        officiis exercitationem nostrum aspernatur expedita, sapiente ab autem, vitae laboriosam placeat ipsa unde doloremque ratione deserunt voluptatibus blanditiis!
                                    </p>
                                </div>
                            </div>
                            <div class="row singleNoticeBlock">
                                <div class="col-sm-6 postDate"><i>Posted On : </i><strong></strong></div>
                                <div class="col-12"><hr></div>
                                <div class="col-12">
                                    <img class="img-fluid" src="img/notice.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="col-md-4 woodBlock justify-content">
                <div class="row">
                    <div class="col-12 text-center">

                        <div class="container-fluid notice">
                            <img class="img-fluid" src="img/board.png" alt="">
                            <div class="school-updates">
                                <marquee behavior="" direction="up" onmouseover="stop();" onmouseout="start();" scrollamount="8">
                                    <div class="singleNew">
                                        <h3><a href="">Lorem ipsum dolor sit amet.</a></h3>
                                        <hr>
                                        <p class="text-right">posted on : 27 - 04 - 2019</p>
                                    </div>
                                    <div class="singleNew">
                                        <h3><a href="">Lorem ipsum dolor sit amet.</a></h3>
                                        <hr>
                                        <p class="text-right">posted on : 27 - 04 - 2019</p>
                                    </div>
                                    <div class="singleNew">
                                        <h3><a href="">Lorem ipsum dolor sit amet.</a></h3>
                                        <hr>
                                        <p class="text-right">posted on : 27 - 04 - 2019</p>
                                    </div>
                                </marquee>
                            </div>
                        </div>
                        <div class="birthdayWish">
                            <img class="img-fluid sparkles" src="img/sparkles.gif" alt="">
                            <h4 class="wishText"><i>Wish you a very happy birthday</i><br><strong>Riya</strong></h4>
                            <img class="img-fluid" src="img/kid.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- website Container -->

    <div class="buttom-design">&nbsp;</div>
    <img class="pencilImg img-fluid" src="img/pencil.jpg" alt="">

    <!-- footer -->
    <br><br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left contact">
                    <h4 class="Display"><strong>Contact Us</strong></h4>
                    <h5 class="Display2"><strong>Delhi Public Kids School</strong></h5>
                    <strong>
                        <p>
                            A-17, Aadarsh Nagar, <br>
                            Behind Pradhan Mandapam Marriage Garden <br>
                            Hoshnagabad Road, Bhopal <br>
                            E-Mail : dpskidsbhopal@gmail.com <br>
                            Telephone : 0755-2418222, 7879136615 <br><br>
                            School Hours 7.00 AM -1.30 PM
                        </p>
                    </strong>
                </div>
                <div class="col-md-6 map ">
                    <h4 class="Display"><strong>Reach Us</strong></h4>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d916.8601068891716!2d77.45284960078531!3d23.19061467490816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1544147757055" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <br><br>
    <!-- footer -->
    <div class="col-12 text-center copyRight">
        <h6> &copy; DPSKidsBhopal.com. All Rights Reserved.</h6>
    </div>

    <!-- JS START-->

    <!-- font Awesome CDN -->
    <script src="https://kit.fontawesome.com/c645529b0c.js"></script>

    <!-- BootStrap CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- share this CDN-->
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c14ae2a7b0b4500110a1ea6&product=inline-share-buttons' async='async'></script>

    <!-- Menu Maker plugin -->
    <script src="plugins/menuMaker/js/menumaker.js"></script>

    <script src="js/tabMenu.js"></script>
    <!-- JS END -->
</body>

</html>