<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="DPS KIDS BHOPAL, Best Kindergarten School in Bhopal, 07552418222, 7879136615, Best School,Kusum Mathur, Deepak Mathur" />
    <meta name="keywords" content="DPS KIDS BHOPAL, Best Kindergarten School in Bhopal, 07552418222, 7879136615, Best School,Kusum Mathur, Deepak Mathur" />
    <meta name="description" content="">

    <title>DPS KIDS SCHOOL BHOPAL</title>

    <!-- CSS START-->

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <!-- Menu Maker plugin -->
    <link rel="stylesheet" href="plugins/menuMaker/css/menumaker.css" />

    <link rel="stylesheet" href="css/style.css" />
    <!-- CSS END-->

</head>

<body>

    <div class="header-top-design">&nbsp;</div>

    <!-- Heading Bar -->
    <div class="container-fluid headingBar">
        <div class="row">
            <div class="col-6 col-md-3 align-self-center logo">
                <a href="index.html">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="col-0 col-md-6 align-self-center text-center headCenterText">
                DPS Kids School Bhopal
            </div>
            <div class="col-6 col-md-3 align-self-center text-left">
                <div class="sharethis-inline-share-buttons"></div>
            </div>
        </div>
    </div>
    <!-- Heading Bar -->

    <!-- Navbar Bar -->
    <nav class="navbar navbar-expand-sm navbar-dark mx-auto">
        <label class="navbar-brand">Menu</label>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="icon fas fa-bars" style="color: white;"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="about.html">About School</a>
                        <a class="dropdown-item" href="PrinMgs.html">Principal Message</a>
                        <a class="dropdown-item" href="Activities.html">Activities</a>
                        <a class="dropdown-item" href="Mission.html">Our Mission</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academics</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="rules.html">Rules of School</a>
                        <a class="dropdown-item" href="Fees.html">Fee Rules</a>
                        <a class="dropdown-item" href="school.html">School Timing</a>
                        <a class="dropdown-item" href="curriculam.html">Curriculam</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facilities</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Academicf.html">Academic Facilities</a>
                        <a class="dropdown-item" href="Extra.html">Extra Curricular</a>
                    </div>
                </li>

                <li class="nav-item dropdown pr-3 pl-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Image Gallery</a>
                        <a class="dropdown-item" href="#">Video Gallery</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Admission Form</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="slider-top-design">&nbsp;</div>
    <!-- Navbar Bar -->

    <!-- Image Slider -->
    <div id="slides" class="carousel slide slider" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
            <li data-target="#slides" data-slide-to="4"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="img/slider/S_1.jpg">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="img/slider/S_2.jpg">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="img/slider/S_3.jpg">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="img/slider/S_4.jpg">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="img/slider/S_5.jpg">
                <div class="carousel-caption">
                    <h3>First slide</h3>
                    <p>This is the first slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev"><span class="fas fa-chevron-left"></span></a>
        <a class="carousel-control-next" href="#slides" role="button" data-slide="next"><span class="fas fa-chevron-right"></span></a>
        </a>
    </div>
    <!-- Image Slider -->

    <!-- Paragraph block -->
    <div class="paragraphBlock">
        <div class="title">About DPS Kids - Bhopal</div>
        <div class="subText">Delhi Public Kids School is India’s fast-growing ISO 9001-2008 Certified chain of Hi-tech International Standard Montessori Pre-Schools. While maintaining the highest standards and quality of education.</div>
    </div>
    <!-- Paragraph block -->

    <!-- News heading -->
    <div class="header-top-design-noColor">&nbsp;</div>
    <div class="newHeadingBlock">
        <div class="newsheading text-center">Admission</div>
        <marquee behavior="scroll" scrollamount="5" onMouseOver="this.stop();" onMouseOut="this.start();" direction="left">
            <img src="img/title_icon.png" alt="">
            <a href="http://dpskidsbhopal.com" class="news-title" style="text-decoration:none">Admissions for Playgroup, Nursery, KG-1, KG-2 are open for 2019-20 Please visit our campus..</a>
        </marquee>
    </div>
    <div class="header-top-design-noColor-rotated">&nbsp;</div>
    <!-- News heading -->

    <!-- website Container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12">
                        <!-- Paragraph block -->
                        <div class="paragraphBlock">
                            <div class="title">Delhi Public Kids School</div>
                            <div class="subText">Delhi Public Kids School is India’s fast-growing ISO 9001-2008 Certified chain of Hi-tech International Standard Montessori Pre-Schools. While maintaining the highest standards and quality of education. We have spread our wings pan India with 200+ of Delhi Public Kids School, Delhi Public Secondary Schools, Delhi Public International School, Delhi Public Girls School. In Primary and Secondary segment, with 200 schools already in operation and many more in the making, DPSS is rewriting the history of school education in India . Some of our spectacular schools are already in operation in India. With the motto " ENCOURAGING CHILDREN TO DEVELOP THERE POTENTIAL AS LIFE LONG LEARNERS “ has pledged to provide the finest quality of education at affordable cost and create a society of progressively thinking individuals.</div>
                        </div>
                        <!-- Paragraph block -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 woodBlock justify-content">
                <div class="row">
                    <div class="col-12 text-center">

                        <div class="container-fluid notice">
                            <img class="img-fluid" src="img/board.png" alt="">
                            <div class="school-updates">
                                <marquee behavior="" direction="up" onmouseover="stop();" onmouseout="start();" scrollamount="8">
                                    <div class="singleNew">
                                        <h3><a href="">Lorem ipsum dolor sit amet.</a></h3>
                                        <hr>
                                        <p class="text-right">posted on : 27 - 04 - 2019</p>
                                    </div>
                                    <div class="singleNew">
                                        <h3><a href="">Lorem ipsum dolor sit amet.</a></h3>
                                        <hr>
                                        <p class="text-right">posted on : 27 - 04 - 2019</p>
                                    </div>
                                    <div class="singleNew">
                                        <h3><a href="">Lorem ipsum dolor sit amet.</a></h3>
                                        <hr>
                                        <p class="text-right">posted on : 27 - 04 - 2019</p>
                                    </div>
                                </marquee>
                            </div>
                        </div>
                        <div class="birthdayWish">
                            <img class="img-fluid sparkles" src="img/sparkles.gif" alt="">
                            <h4 class="wishText"><i>Wish you a very happy birthday</i><br><strong>Riya</strong></h4>
                            <img class="img-fluid" src="img/kid.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- website Container -->

    <div class="buttom-design">&nbsp;</div>
    <img class="pencilImg img-fluid" src="img/pencil.jpg" alt="">

    <!-- footer -->
    <br><br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left contact">
                    <h4 class="Display"><strong>Contact Us</strong></h4>
                    <h5 class="Display2"><strong>Delhi Public Kids School</strong></h5>
                    <strong>
                        <p>
                            A-17, Aadarsh Nagar, <br>
                            Behind Pradhan Mandapam Marriage Garden <br>
                            Hoshnagabad Road, Bhopal <br>
                            E-Mail : dpskidsbhopal@gmail.com <br>
                            Telephone : 0755-2418222, 7879136615 <br><br>
                            School Hours 7.00 AM -1.30 PM
                        </p>
                    </strong>
                </div>
                <div class="col-md-6 map ">
                    <h4 class="Display"><strong>Reach Us</strong></h4>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d916.8601068891716!2d77.45284960078531!3d23.19061467490816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1544147757055" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <br><br>
    <!-- footer -->
    <div class="col-12 text-center copyRight">
        <h6> &copy; DPSKidsBhopal.com. All Rights Reserved.</h6>
    </div>

    <!-- JS START-->

    <!-- font Awesome CDN -->
    <script src="https://kit.fontawesome.com/c645529b0c.js"></script>

    <!-- BootStrap CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- share this CDN-->
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c14ae2a7b0b4500110a1ea6&product=inline-share-buttons' async='async'></script>

    <!-- Menu Maker plugin -->
    <script src="plugins/menuMaker/js/menumaker.js"></script>

    <!-- JS END -->
</body>

</html>