@font-face {
	font-family: BazookaRegular;
	src: url(../font/BazookaRegular.ttf);
}
@font-face {
	font-family: BassetBoldItalic;
	src: url(../font/BassetBoldItalic.TTF);
}

@font-face {
	font-family: Daneehand;
	src: url(../font/Daneehand.otf);
}
