.imgGalleryBlock{
    ul.horizontal-slide {
        margin: 0;
        padding: 0;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
    }

    ul.horizontal-slide li[class*="span"] {
        display: inline-block;
        float: none;
    }

    .singleImageGallery{
        padding-top: 1rem;
        .titleText{
            font-family: BassetBoldItalic;
            font-size: 28px;
            color: #9a0000;
            text-align: left;
            margin: 8px;
            font-weight: 800;
        }
        .img-fluid{
            width: 200px;
            border: 2px solid #9a0000 ;
        }
    }
}