@font-face {
	font-family: BazookaRegular;
	src: url(../font/BazookaRegular.ttf);
}
@font-face {
	font-family: BassetBoldItalic;
	src: url(../font/BassetBoldItalic.TTF);
}

@font-face {
	font-family: Daneehand;
	src: url(../font/Daneehand.otf);
}

@font-face {
	font-family: PF_Fusion_Sans_Pro_Black;
	src: url(../font/PFFusionSansProBlack.ttf);
}

@font-face {
	font-family: ArialNovaW07Bold;
	src: url(../font/ArialNovaW07Bold.ttf);
}
