// Mobile S : 320px and up
@media (min-width: 320px) {
	.headingBar {
		background-color: #f6f7ed;
		padding-bottom: 15px;
		.logo {
			img {
				width: 150px;
			}
		}

		.headCenterText {
			display: none;
		}
	}
}

// Tablets : 768px and up
@media (min-width: 768px) {
	.headingBar {
		background-color: #f6f7ed;
		padding-bottom: 15px;
		.logo {
			img {
				width: 150px;
			}
		}

		.headCenterText {
            padding-left: 1rem;
            padding-right: 1rem;
			display: block;
			font-family: BazookaRegular;
			font-size: 30px;
			color: #9a0000;
			text-align: Left;
		}
	}
}

// Laptop : 1024px and up
@media (min-width: 1024px) {
	.headingBar {
		background-color: #f6f7ed;
		padding-bottom: 15px;
		.logo {
			img {
				width: 150px;
			}
		}

		.headCenterText {
            .schName{
                font-family: PF_Fusion_Sans_Pro_Black;
                font-size: 50px;
                color: #18994D;
            }
            .schSubHeading{
                font-family: ArialNovaW07Bold;
                font-size: 20px;
                color: #272da5;
            }
		}
	}
}
