@font-face {
  font-family: BazookaRegular;
  src: url(../font/BazookaRegular.ttf);
}

@font-face {
  font-family: BassetBoldItalic;
  src: url(../font/BassetBoldItalic.TTF);
}

@font-face {
  font-family: Daneehand;
  src: url(../font/Daneehand.otf);
}

@font-face {
  font-family: PF_Fusion_Sans_Pro_Black;
  src: url(../font/PFFusionSansProBlack.ttf);
}

@font-face {
  font-family: ArialNovaW07Bold;
  src: url(../font/ArialNovaW07Bold.ttf);
}

@media (min-width: 320px) {
  .headingBar {
    background-color: #f6f7ed;
    padding-bottom: 15px;
  }
  .headingBar .logo img {
    width: 150px;
  }
  .headingBar .headCenterText {
    display: none;
  }
}

@media (min-width: 768px) {
  .headingBar {
    background-color: #f6f7ed;
    padding-bottom: 15px;
  }
  .headingBar .logo img {
    width: 150px;
  }
  .headingBar .headCenterText {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    font-family: BazookaRegular;
    font-size: 30px;
    color: #9a0000;
    text-align: Left;
  }
}

@media (min-width: 1024px) {
  .headingBar {
    background-color: #f6f7ed;
    padding-bottom: 15px;
  }
  .headingBar .logo img {
    width: 150px;
  }
  .headingBar .headCenterText .schName {
    font-family: PF_Fusion_Sans_Pro_Black;
    font-size: 50px;
    color: #18994D;
  }
  .headingBar .headCenterText .schSubHeading {
    font-family: ArialNovaW07Bold;
    font-size: 20px;
    color: #272da5;
  }
}

.navbar {
  z-index: 999;
  background-color: #9a0000;
}

.navbar .navbar-collapse {
  background-color: #9a0000;
}

.navbar .navbar-collapse .nav-link,
.navbar .navbar-collapse .dropdown-toggle {
  color: white;
  padding-right: 2rem;
}

.navbar .navbar-collapse .navbar-nav li:hover .dropdown-menu {
  display: block;
}

.navbar .navbar-collapse .dropdown-menu {
  background-color: #b40000;
}

.navbar .navbar-collapse .dropdown-menu .dropdown-item {
  color: white;
}

.navbar .navbar-collapse .dropdown-menu .dropdown-item:hover {
  background-color: #bd6161;
}

@media (min-width: 320px) {
  .navbar label {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar .nav-link {
    font-size: 0.8rem;
  }
  .navbar label {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar .nav-link {
    font-size: 1.15rem;
  }
  .navbar label {
    display: none;
  }
}

.slider {
  margin-top: -15px;
  z-index: 998;
}

.slider .carousel-item img {
  z-index: 998;
  width: 100%;
}

.slider .carousel-caption h3 {
  font-family: 'Handlee', cursive;
  font-size: 2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
}

.slider .carousel-caption h3:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.slider .carousel-control-prev:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.slider .carousel-control-next:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

@media (min-width: 320px) {
  .slider .carousel-indicators {
    visibility: hidden;
  }
  .slider .carousel-caption {
    bottom: -1rem;
  }
  .slider .carousel-caption h3 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .slider .carousel-indicators {
    visibility: hidden;
  }
  .slider .carousel-caption {
    bottom: 0rem;
  }
  .slider .carousel-caption h3 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .slider .carousel-caption {
    bottom: 2rem;
  }
  .slider .carousel-caption h3 {
    font-size: 2rem;
  }
  .slider .carousel-indicators {
    visibility: visible;
  }
  .slider .carousel-control-prev span,
  .slider .carousel-control-next span {
    font-size: 3rem;
  }
}

.paragraphBlock .title {
  font-family: BassetBoldItalic;
  font-size: 28px;
  color: #9a0000;
  text-align: left;
  margin: 8px;
  font-weight: 800;
}

.paragraphBlock .subText {
  font-family: BassetBoldItalic;
  font-size: 16px;
  color: #a19d9d;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  line-height: 23px;
}

@media (min-width: 320px) {
  .paragraphBlock {
    padding: 1rem;
    padding-bottom: 0rem;
  }
  .paragraphBlock ul {
    padding-left: 3rem;
  }
}

@media (min-width: 1024px) {
  .paragraphBlock {
    padding: 3rem;
    padding-bottom: 0rem;
  }
  .paragraphBlock ul {
    padding-left: 3rem;
  }
}

.newHeadingBlock {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.newHeadingBlock .newsheading {
  font-family: BassetBoldItalic;
  font-size: 25px;
  color: #9a0000;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.newHeadingBlock marquee {
  padding-top: 1rem;
}

.newHeadingBlock marquee .news-title {
  font-family: BassetBoldItalic;
  font-size: 18px;
  color: #9a0000;
  text-align: center;
  padding-left: 1rem;
}

@media (min-width: 320px) {
  .birthdayWish {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .birthdayWish .sparkles {
    position: absolute;
    left: 0;
  }
}

@media (min-width: 425px) {
  .birthdayWish {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .birthdayWish .sparkles {
    width: 90%;
    position: absolute;
    left: 0;
  }
}

@media (min-width: 768px) {
  .birthdayWish {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .birthdayWish .wishText {
    font-size: 1rem;
  }
  .birthdayWish .sparkles {
    width: 100%;
    position: absolute;
    left: 0;
  }
}

@media (min-width: 1024px) {
  .birthdayWish {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .birthdayWish .wishText {
    font-size: 1.25rem;
  }
  .birthdayWish .sparkles {
    width: 100%;
    position: absolute;
    left: 0;
  }
}

@media (min-width: 1250px) {
  .birthdayWish {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .birthdayWish .wishText {
    font-size: 1.5rem;
  }
  .birthdayWish .sparkles {
    width: 85%;
    position: absolute;
    left: 3rem;
  }
}

@media (min-width: 1440px) {
  .birthdayWish {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .birthdayWish .wishText {
    font-size: 1.5rem;
  }
  .birthdayWish .sparkles {
    width: 85%;
    position: absolute;
    left: 3rem;
  }
}

@media (min-width: 320px) {
  .notice .school-updates {
    position: absolute;
    height: 7rem;
    top: 6rem;
    padding-left: 3rem;
    padding-right: 5rem;
  }
  .notice .school-updates marquee {
    height: 7rem;
  }
  .notice .school-updates marquee .singleNew h3 a {
    color: #b4b4b4;
    font-family: Daneehand;
  }
  .notice .school-updates marquee .singleNew p {
    color: white;
  }
  .notice .school-updates marquee .singleNew hr {
    width: 90%;
    background-color: white;
  }
}

@media (min-width: 375px) {
  .notice .school-updates {
    position: absolute;
    height: 9rem;
    top: 6rem;
    padding-left: 3rem;
    padding-right: 5rem;
  }
  .notice .school-updates marquee {
    height: 9rem;
  }
  .notice .school-updates marquee .singleNew h3 a {
    color: #b4b4b4;
    font-family: Daneehand;
  }
  .notice .school-updates marquee .singleNew p {
    color: white;
  }
  .notice .school-updates marquee .singleNew hr {
    width: 90%;
    background-color: white;
  }
}

@media (min-width: 425px) {
  .notice .school-updates {
    position: absolute;
    height: 11rem;
    top: 6rem;
    padding-left: 3rem;
    padding-right: 5rem;
  }
  .notice .school-updates marquee {
    height: 11rem;
  }
  .notice .school-updates marquee .singleNew h3 a {
    color: #b4b4b4;
    font-family: Daneehand;
  }
  .notice .school-updates marquee .singleNew p {
    color: white;
  }
  .notice .school-updates marquee .singleNew hr {
    width: 90%;
    background-color: white;
  }
}

@media (min-width: 768px) {
  .notice .school-updates {
    position: absolute;
    height: 5rem;
    top: 4rem;
    padding-left: 3rem;
    padding-right: 5rem;
  }
  .notice .school-updates marquee {
    height: 5rem;
  }
  .notice .school-updates marquee .singleNew h3 {
    font-size: 1rem;
  }
  .notice .school-updates marquee .singleNew h3 a {
    color: #b4b4b4;
    font-family: Daneehand;
  }
  .notice .school-updates marquee .singleNew p {
    font-size: 0.75rem;
    color: white;
  }
  .notice .school-updates marquee .singleNew hr {
    width: 90%;
    background-color: white;
  }
}

@media (min-width: 1024px) {
  .notice .school-updates {
    position: absolute;
    height: 8rem;
    top: 5rem;
    padding-left: 3rem;
    padding-right: 5rem;
  }
  .notice .school-updates marquee {
    height: 8rem;
  }
  .notice .school-updates marquee .singleNew h3 {
    font-size: 1.5rem;
  }
  .notice .school-updates marquee .singleNew h3 a {
    color: #b4b4b4;
    font-family: Daneehand;
  }
  .notice .school-updates marquee .singleNew p {
    font-size: 0.75rem;
    color: white;
  }
  .notice .school-updates marquee .singleNew hr {
    width: 90%;
    background-color: white;
  }
}

@media (min-width: 1250px) {
  .notice .school-updates {
    position: absolute;
    height: 14rem;
    top: 6rem;
    padding-left: 3rem;
    padding-right: 0rem;
  }
  .notice .school-updates marquee {
    height: 14rem;
    width: 18rem;
  }
  .notice .school-updates marquee .singleNew h3 {
    font-size: 1.75rem;
  }
  .notice .school-updates marquee .singleNew h3 a {
    color: #b4b4b4;
    font-family: Daneehand;
  }
  .notice .school-updates marquee .singleNew p {
    font-size: 1rem;
    color: white;
  }
  .notice .school-updates marquee .singleNew hr {
    width: 90%;
    background-color: white;
  }
}

@media (min-width: 1440px) {
  .notice .school-updates {
    position: absolute;
    height: 14rem;
    top: 6rem;
    padding-left: 4rem;
    padding-right: 0rem;
  }
  .notice .school-updates marquee {
    height: 14rem;
    width: 18rem;
  }
  .notice .school-updates marquee .singleNew h3 {
    font-size: 1.75rem;
  }
  .notice .school-updates marquee .singleNew h3 a {
    color: #b4b4b4;
    font-family: Daneehand;
  }
  .notice .school-updates marquee .singleNew p {
    font-size: 1rem;
    color: white;
  }
  .notice .school-updates marquee .singleNew hr {
    width: 90%;
    background-color: white;
  }
}

@media (min-width: 320px) {
  .contact {
    border-right: none;
    border-bottom: 5px solid #9a0000;
  }
  .contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact p, .contact a, .contact label {
    font-family: BalognaBoldUII;
    color: #9a0000;
  }
}

@media (min-width: 768px) {
  .contact {
    border-right: 5px solid #9a0000;
    border-bottom: none;
  }
  .contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact p, .contact a, .contact label {
    font-family: BalognaBoldUII;
    color: #9a0000;
  }
}

@media (min-width: 320px) {
  .map {
    padding-top: 2rem;
  }
  .map h1, .map h2, .map h3, .map h4, .map h5, .map h6, .map p, .map a, .map label {
    font-family: BalognaBoldUII;
    color: #9a0000;
  }
  .map .embed-responsive {
    border: 2px solid #9a0000;
    -webkit-box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 768px) {
  .map {
    padding-top: 0rem;
  }
  .map h1, .map h2, .map h3, .map h4, .map h5, .map h6, .map p, .map a, .map label {
    font-family: BalognaBoldUII;
    color: #9a0000;
  }
  .map .embed-responsive {
    border: 2px solid #9a0000;
    -webkit-box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 1024px) {
  .map {
    padding-left: 13rem;
  }
  .map h1, .map h2, .map h3, .map h4, .map h5, .map h6, .map p, .map a, .map label {
    font-family: BalognaBoldUII;
    color: #9a0000;
  }
  .map .embed-responsive {
    border: 2px solid #9a0000;
    -webkit-box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 320px) {
  .serviceBlock {
    padding-top: 3rem;
  }
  .serviceBlock .text-primary {
    color: #9a0000 !important;
  }
  .serviceBlock h4 {
    padding-top: 1rem;
    font-family: 'Roboto Slab', serif;
  }
  .serviceBlock a {
    padding: 3rem;
    padding-top: 0.25rem;
    color: black;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .serviceBlock a:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (min-width: 1024px) {
  .serviceBlock .text-primary {
    color: #9a0000 !important;
  }
  .serviceBlock h4 {
    padding-top: 1rem;
  }
  .serviceBlock a {
    padding: 3rem;
    padding-top: 0rem;
    color: black;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .serviceBlock a:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.principalMessages {
  padding: 3rem;
  padding-bottom: 0rem;
}

.principalMessages .title {
  font-family: BassetBoldItalic;
  font-size: 28px;
  color: #9a0000;
  text-align: left;
  margin: 8px;
  font-weight: 800;
}

.principalMessages .subText {
  font-family: BassetBoldItalic;
  font-size: 16px;
  color: #a19d9d;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  line-height: 23px;
}

.principalMessages p {
  color: #a19d9d;
}

.singleNoticeBlock {
  padding-top: 2rem !important;
}

@media (min-width: 320px) {
  .tab-content .title {
    font-family: BassetBoldItalic;
    font-size: 28px;
    color: #9a0000;
    margin: 8px;
    font-weight: 800;
    padding-top: 1rem;
  }
  .tabMenu .nav-item {
    display: none !important;
  }
  .tabMenu .nav-item .nav-link {
    color: #9a0000 !important;
  }
  .tabMenu .mobileDropdown {
    display: block !important;
  }
  .tabMenu .mobileDropdown .dropdown-menu {
    inline-size: 100%;
  }
  .tabMenu .mobileDropdown .dropdown-item {
    text-align: center !important;
  }
  .tabMenu .mobileDropdown .dropdown-item.active, .tabMenu .mobileDropdown .dropdown-item:active {
    background-color: #9a0000 !important;
  }
}

@media (min-width: 768px) {
  .singleNoticeBlock {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .tabMenu .nav-item {
    display: block !important;
  }
  .tabMenu .nav-item .nav-link {
    color: #9a0000 !important;
  }
  .tabMenu .mobileDropdown {
    display: none !important;
  }
  .tabMenu .mobileDropdown .dropdown-toggle::after {
    display: none !important;
  }
}

@media (min-width: 320px) {
  .contactUs {
    background-color: #ffffff00;
    padding-bottom: 2rem;
  }
  .contactUs .form-group {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media (min-width: 768px) {
  .contactUs {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
  }
  .contactUs .form-group {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .contactUs {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
  }
  .contactUs .form-group {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.imgGalleryBlock ul.horizontal-slide {
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.imgGalleryBlock ul.horizontal-slide li[class*="span"] {
  display: inline-block;
  float: none;
}

.imgGalleryBlock .singleImageGallery {
  padding: 1rem;
}

.imgGalleryBlock .singleImageGallery .titleText {
  font-family: BassetBoldItalic;
  font-size: 28px;
  color: #9a0000;
  text-align: left;
  margin: 8px;
  font-weight: 800;
}

.imgGalleryBlock .singleImageGallery .img-hover-zoom {
  background-color: black;
  overflow: hidden;
}

.imgGalleryBlock .singleImageGallery .img-hover-zoom .img-fluid {
  width: 200px;
  border: 2px solid #9a0000;
}

.imgGalleryBlock .singleImageGallery .img-hover-zoom img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  opacity: 1;
}

.imgGalleryBlock .singleImageGallery .img-hover-zoom img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.7;
}

.videoGalleryBlock .img-hover-zoom {
  background-color: black;
  overflow: hidden;
}

.videoGalleryBlock .img-hover-zoom img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  opacity: 1;
}

.videoGalleryBlock .img-hover-zoom img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.7;
}

.header-top-design {
  background-color: #f6f7ed;
  background-image: url(../img/header_top_design.png);
  background-repeat: repeat-x;
}

.header-top-design-noColor {
  background-image: url(../img/header_top_design.png);
  background-repeat: repeat-x;
}

.header-top-design-noColor-rotated {
  background-image: url(../img/header_top_design.png);
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-top-design {
  background-image: url(../img/slider_bottom.png);
  background-repeat: repeat-x;
  position: relative;
  margin-top: -5px;
  z-index: 999;
}

body {
  background-image: url(../img/page.jpg);
}

.woodBlock {
  background-image: url(../img/wood.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
}

.buttom-design {
  background-image: url(../img/buttom_design.png);
  background-repeat: repeat-x;
}

.pencilImg {
  width: 100%;
  position: relative;
  bottom: 1rem;
  z-index: -10;
  border-bottom: 5px #9a0000 solid;
}

.copyRight {
  padding: 1rem;
  background-color: #572828;
}

.copyRight h6 {
  color: white;
}

.btn-primary {
  background-color: #9a0000 !important;
  border: none;
}
/*# sourceMappingURL=style.css.map */